<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'js/random.css' %}">
</head>
<body>
    
    <div class="container">
        <h1>Random Word (attempt # {{ request.session.count }} )</h1>
        <div class="random_box">
          <h1> {{ request.session.random }} </h1>
        </div>
        
            <form action="random_word" method="post">
                {% csrf_token %}
                <input id="generate" type="submit" value="Generate" name="generate">
            </form>

       
            <a href="/random_word/reset">Reset Count</a>          
        
    </div>
</body>
</html>
